@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');
body {
    font-family: 'Dancing Script', cursive;
    font-size: 20pt;
    color: brown;
    background-image: url("./clouds-in-the-sky-during-sunset-3584430.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

section#corpo {
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    padding: 10px;
    font-size: 20pt;
    width: 1315px;
    height: 500px;
}

footer {
    clear: both;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14pt;
}