@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    font-size: 20pt;
    color: black;
    background-image: url("./Imagens/clouds-in-the-sky-during-sunset-3584430.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p{
    text-indent: 10px;
}

section#corpo {
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    padding: 10px;
    font-size: 16pt;
    width: 1315px;
    height: 515px;
    text-indent: 5px;
}

div#container {
    height: 450px;
}

footer {
    clear: both;
    padding-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14pt;
}